# MODEL BUILDING

In [1]:
import pandas as pd
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.metrics import recall_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.tree import DecisionTreeClassifier

In [2]:
df=pd.read_csv("tel_churn.csv")
df.head()

,Unnamed: 0,SeniorCitizen,MonthlyCharges,TotalCharges,Churn,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,...,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,tenure_group_1 - 12,tenure_group_13 - 24,tenure_group_25 - 36,tenure_group_37 - 48,tenure_group_49 - 60,tenure_group_61 - 72
0,0,0,29.85,29.85,0,1,0,0,1,1,...,0,0,1,0,1,0,0,0,0,0
1,1,0,56.95,1889.50,0,0,1,1,0,1,...,0,0,0,1,0,0,1,0,0,0
2,2,0,53.85,108.15,1,0,1,1,0,1,...,0,0,0,1,1,0,0,0,0,0
3,3,0,42.30,1840.75,0,0,1,1,0,1,...,1,0,0,0,0,0,0,1,0,0
4,4,0,70.70,151.65,1,1,0,1,0,1,...,0,0,1,0,1,0,0,0,0,0

In [3]:
df=df.drop('Unnamed: 0',axis=1)

In [4]:
x=df.drop('Churn',axis=1)
x

,SeniorCitizen,MonthlyCharges,TotalCharges,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,PhoneService_No,...,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,tenure_group_1 - 12,tenure_group_13 - 24,tenure_group_25 - 36,tenure_group_37 - 48,tenure_group_49 - 60,tenure_group_61 - 72
0,0,29.85,29.85,1,0,0,1,1,0,1,...,0,0,1,0,1,0,0,0,0,0
1,0,56.95,1889.50,0,1,1,0,1,0,0,...,0,0,0,1,0,0,1,0,0,0
2,0,53.85,108.15,0,1,1,0,1,0,0,...,0,0,0,1,1,0,0,0,0,0
3,0,42.30,1840.75,0,1,1,0,1,0,1,...,1,0,0,0,0,0,0,1,0,0
4,0,70.70,151.65,1,0,1,0,1,0,0,...,0,0,1,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7027,0,84.80,1990.50,0,1,0,1,0,1,0,...,0,0,0,1,0,1,0,0,0,0
7028,0,103.20,7362.90,1,0,0,1,0,1,0,...,0,1,0,0,0,0,0,0,0,1
7029,0,29.60,346.45,1,0,0,1,0,1,1,...,0,0,1,0,1,0,0,0,0,0
7030,1,74.40,306.60,0,1,0,1,1,0,0,...,0,0,0,1,1,0,0,0,0,0
7031,0,105.65,6844.50,0,1,1,0,1,0,0,...,1,0,0,0,0,0,0,0,0,1

In [5]:
y=df['Churn']
y

0       0
1       0
2       1
3       0
4       1
       ..
7027    0
7028    0
7029    0
7030    1
7031    0
Name: Churn, Length: 7032, dtype: int64

In [6]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

# Model 1 DECISION TREE

In [7]:
model_dt=DecisionTreeClassifier(criterion = "gini",random_state = 100,max_depth=6, min_samples_leaf=8)

In [8]:
model_dt.fit(x_train,y_train)

DecisionTreeClassifier(max_depth=6, min_samples_leaf=8, random_state=100)

In [9]:
y_pred=model_dt.predict(x_test)
y_pred

array([1, 0, 0, ..., 0, 0, 0], dtype=int64)

In [10]:
print(classification_report(y_test, y_pred, labels=[0,1]))

              precision    recall  f1-score   support

           0       0.81      0.93      0.87      1052
           1       0.64      0.35      0.46       355

    accuracy                           0.79      1407
   macro avg       0.73      0.64      0.66      1407
weighted avg       0.77      0.79      0.76      1407

# MODEL 2 RANDOM FOREST CLASSIFIER

In [11]:
from sklearn.ensemble import RandomForestClassifier

In [12]:
model_rf=RandomForestClassifier(n_estimators=100, criterion='gini', random_state = 100,max_depth=6, min_samples_leaf=8)

In [13]:
model_rf=RandomForestClassifier(n_estimators=100, criterion='gini', random_state = 100,max_depth=6, min_samples_leaf=8)

In [14]:
model_rf.fit(x_train,y_train)

RandomForestClassifier(max_depth=6, min_samples_leaf=8, random_state=100)

In [15]:
y_pred=model_rf.predict(x_test)

In [16]:
model_rf.score(x_test,y_test)

0.7953091684434968

In [17]:
print(classification_report(y_test, y_pred, labels=[0,1]))

              precision    recall  f1-score   support

           0       0.83      0.91      0.87      1052
           1       0.63      0.47      0.54       355

    accuracy                           0.80      1407
   macro avg       0.73      0.69      0.70      1407
weighted avg       0.78      0.80      0.78      1407

# MODEL 3: SUPPORT VECTOR MACHINES

In [18]:
from sklearn.svm import SVC

In [19]:
model_svm = SVC()

In [20]:
model_svm.fit(x_train, y_train)

SVC()

In [21]:
y_pred = model_svm.predict(x_test)

In [22]:
model_svm.score(x_test,y_test)

0.7476901208244492

In [23]:
print(classification_report(y_test, y_pred, labels=[0,1]))

              precision    recall  f1-score   support

           0       0.75      1.00      0.86      1052
           1       0.00      0.00      0.00       355

    accuracy                           0.75      1407
   macro avg       0.37      0.50      0.43      1407
weighted avg       0.56      0.75      0.64      1407

C:\Users\ffarh\Anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\ffarh\Anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\ffarh\Anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

# HYPERPARAMETER OPTIMIZATION #

In [42]:

from sklearn.model_selection import GridSearchCV


# Define hyperparameter grid
param_grid = {
    'n_estimators': [50, 100, 200],
    'max_depth': [4, 6, 8, None],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 4, 8], 
    'criterion': ['gini', 'entropy']  
}

rf_HPO_model = RandomForestClassifier(random_state=100)

grid_search = GridSearchCV(rf_HPO_model, param_grid, cv=5, scoring='accuracy', n_jobs=-1, verbose=2)
grid_search.fit(x_train, y_train)

best_rf_model = grid_search.best_estimator_

# Predict on test data
y_pred = best_rf_model.predict(x_test)

# Compute accuracy
best_rf_model.score(x_test,y_test)
print(f'Best Random Forest Parameters: {grid_search.best_params_}')

Fitting 5 folds for each of 216 candidates, totalling 1080 fits
Best Random Forest Parameters: {'criterion': 'gini', 'max_depth': 8, 'min_samples_leaf': 1, 'min_samples_split': 5, 'n_estimators': 100}

 since the best parameters for the random forest classifier are {'criterion': 'entropy', 'max_depth': 8, 'min_samples_leaf': 1, 'min_samples_split': 5, 'n_estimators': 100} we'll train our random forest again with these specific parameters in the below moinority sampling

In [45]:
print(best_rf_model.score(x_test,y_test))

0.7867803837953091

# MINORITY SAMPLING

In [26]:
from imblearn.combine import SMOTEENN

In [27]:
sm = SMOTEENN()
X_resampled1, y_resampled1 = sm.fit_resample(x,y)

In [28]:
xr_train1,xr_test1,yr_train1,yr_test1=train_test_split(X_resampled1, y_resampled1,test_size=0.2)

In [29]:
model_rf_smote=RandomForestClassifier(n_estimators=50, criterion='entropy', random_state = 100,max_depth=8, min_samples_leaf=5)

so the above rf model has been set up with the best possible parameters derived from hpo

In [30]:
model_rf_smote.fit(xr_train1,yr_train1)

RandomForestClassifier(criterion='entropy', max_depth=8, min_samples_leaf=5,
                       n_estimators=50, random_state=100)

In [31]:
yr_predict1 = model_rf_smote.predict(xr_test1)

In [32]:
model_score_r1 = model_rf_smote.score(xr_test1, yr_test1)

In [33]:
print(model_score_r1)
print(metrics.classification_report(yr_test1, yr_predict1))

0.9548936170212766
              precision    recall  f1-score   support

           0       0.98      0.92      0.95       526
           1       0.94      0.98      0.96       649

    accuracy                           0.95      1175
   macro avg       0.96      0.95      0.95      1175
weighted avg       0.96      0.95      0.95      1175

In [34]:
print(metrics.confusion_matrix(yr_test1, yr_predict1))

[[485  41]
 [ 12 637]]

# PRINCIPAL COMPONENT ANALYSIS

In [35]:
from sklearn.decomposition import PCA
pca = PCA(0.9)
xr_train_pca = pca.fit_transform(xr_train1)
xr_test_pca = pca.transform(xr_test1)
explained_variance = pca.explained_variance_ratio_

In [36]:
model=RandomForestClassifier(n_estimators=100, criterion='gini', random_state = 100,max_depth=6, min_samples_leaf=8)

In [37]:
model.fit(xr_train_pca,yr_train1)

RandomForestClassifier(max_depth=6, min_samples_leaf=8, random_state=100)

In [38]:
yr_predict_pca = model.predict(xr_test_pca)

In [39]:
model_score_r_pca = model.score(xr_test_pca, yr_test1)

In [40]:
print(model_score_r_pca)
print(metrics.classification_report(yr_test1, yr_predict_pca))

0.7131914893617022
              precision    recall  f1-score   support

           0       0.70      0.63      0.66       526
           1       0.72      0.78      0.75       649

    accuracy                           0.71      1175
   macro avg       0.71      0.71      0.71      1175
weighted avg       0.71      0.71      0.71      1175

In [47]:
print(f"Number of components selected: {pca.n_components_}")

# 2. See the explained variance ratio per component
print("Explained variance ratio per component:")
print(pca.explained_variance_ratio_)

# 3. See which original features contribute most to each PC
# Create a DataFrame showing feature loadings
loadings = pd.DataFrame(
    pca.components_.T,  # Transpose to get features as rows
    columns=[f'PC{i+1}' for i in range(pca.n_components_)],
    index=X_resampled1.columns  # Original feature names
)

# Show top 5 features contributing to each principal component
print("\nTop features per principal component:")
for pc in loadings.columns:
    print(f"\n{pc}:")
    print(loadings[pc].abs().sort_values(ascending=False).head(5))

Number of components selected: 1
Explained variance ratio per component:
[0.99984207]

Top features per principal component:

PC1:
TotalCharges               0.999975
MonthlyCharges             0.007002
tenure_group_1 - 12        0.000148
Contract_Month-to-month    0.000117
tenure_group_61 - 72       0.000115
Name: PC1, dtype: float64

 COULDN'T SEE ANY BETTER RESULTS WITH PCA, SO LET'S CHOOSE THE RANDOM FOREST MODEL WITH SMOTEEN AS OUR FINAL MODEL

In [53]:
import pickle

In [54]:
filename = 'model.sav'

In [55]:
pickle.dump(model_rf_smote, open(filename, 'wb'))

In [56]:
load_model = pickle.load(open(filename, 'rb'))

In [57]:
model_score_r1 = load_model.score(xr_test1, yr_test1)

In [58]:
model_score_r1

0.9509043927648578

so final model (Rf classifier) gives us a accuracy of 95.1 %

our final model is dumped into model.sav and will be used in our flask api for usability